{% extends 'admin_layout.html' %}
{% block content %}
    <h1>সকল অর্ডার</h1>
    <div style="overflow-x: auto;">
    <table>
        <thead>
            <tr>
                <th>অর্ডার আইডি</th>
                <th>গেম ও প্রোডাক্ট</th>
                <th>গেম UID</th>
                <th>পেমেন্ট তথ্য</th>
                <th>স্ট্যাটাস</th>
                <th>সময়</th>
                <th>অ্যাকশন</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>
                    <strong>{{ order.game_title }}</strong><br>
                    {{ order.product_name }} ({{ "%.2f"|format(order.price) }} টাকা)
                </td>
                <td>{{ order.game_uid }}</td>
                <td>
                    {% if order.payment_method %}
                        <strong>{{ order.payment_method }}</strong><br>
                    {% endif %}
                    {% if order.transaction_id %}
                        TrxID: {{ order.transaction_id }}<br>
                    {% endif %}
                    {% if order.screenshot_url %}
                        <a href="{{ order.screenshot_url }}" target="_blank">স্ক্রিনশট দেখুন</a>
                    {% endif %}
                </td>
                <td>{{ order.status }}</td>
                <td>{{ order.order_time | bst_time }}</td>
                <td class="actions">
                    {% if order.status == 'Pending Payment' %}
                    <form action="{{ url_for('admin.update_order', order_id=order.id) }}" method="post" style="display: inline-block; margin-bottom: 5px;">
                        <input type="hidden" name="status" value="Completed">
                        <button type="submit">Approve</button>
                    </form>
                    {% endif %}
                    {% if order.status != 'Completed' and order.status != 'Rejected' %}
                    <form action="{{ url_for('admin.update_order', order_id=order.id) }}" method="post" style="display: inline-block;">
                        <input type="hidden" name="status" value="Rejected">
                        <button type="submit" class="btn-danger">Reject</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7" style="text-align: center;">কোনো অর্ডার পাওয়া যায়নি।</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}